svg(
viewbox="0 0 1000 160"
preserveAspectRatio="none"
class="triangal fill_about fill_about_left triangal_fill_work fill_work_left triangal_fill_blog")
    polygon(points="0,0 0,160 1000,160")
svg(
viewbox="0 0 1000 160"
preserveAspectRatio="none"
class="triangal fill_about fill_about_right about_right_tab triangal_fill_work fill_work_right triangal_fill_blog")
    polygon(points="0,160 1000,160 1000,0")